<div class="top-container">
  <div class="middle_content">
    <div style="text-align:center;"><img style="border-radius:5px;margin:60% auto 10%;" src="./../../assets/images/og.png">
    </div>
    <div class="login_div"><i class="anticon anticon-edit"></i> <span>
        Login</span></div>
    <form nz-form [formGroup]="userForm" class="login-form" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixEmailTemplate">
            <input type="text" nz-input formControlName="email" placeholder="Email">
          </nz-input-group>
          <ng-template #prefixEmailTemplate><i nz-icon type="user"></i></ng-template>
          <nz-form-explain *ngIf="userForm.get('email').dirty &&
      userForm.get('email').errors">Please
            enter
            your Email!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixPasswordTemplate">
            <input type="password" nz-input formControlName="password" placeholder="Password">
          </nz-input-group>
          <ng-template #prefixPasswordTemplate><i nz-icon type="lock"></i></ng-template>
          <nz-form-explain *ngIf="userForm.get('password').dirty &&
      userForm.get('password').errors">Please enter
            your Password!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <!-- <label nz-checkbox formControlName="remember"
      (ngModelChange)="rememberMeToggle($event)">
                <span>Remember me</span>
              </label>
              <a class="login-form-forgot" class="login-form-forgot
      forgot_password">Forgot password</a> -->
          <button [disabled]="!userForm.valid" nz-button class="login-form-button" [nzType]="'primary'">Log in</button>

        </nz-form-control>
      </nz-form-item>
    </form>

  </div>
</div>

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isLoginError" nzMaskClosable="false" nzClosable="false"
  nzKeyboard="false" nzTitle="Authentication Error" nzOkText="Ok" nzCancelText="Cancel" (nzOnOk)="isLoginError=false"
  (nzOnCancel)="isLoginError=false">
  <i class="anticon anticon-warning"></i><span class="error-msg">Please enter valid credentials</span>
</nz-modal>