<div class="ui menu">
    <a class="navbar-brand">
        <img class="card-img-top ml-5" src="https://images-platform.99static.com/kE-xzGRaI6I55KiK_bruUEq7CPM=/0x0:1000x1000/500x500/top/smart/99designs-contests-attachments/90/90330/attachment_90330744"
            style="width:80px;height:50px" />
    </a>
    <div class="right menu">
        <a routerLink="/login" class="item">Login</a>
    </div>
</div>
<div class="row" style="background: url(https://cdn3.f-cdn.com/contestentries/212081/10921447/5549c47a5792e_thumb900.jpg) no-repeat center center fixed; 
background-size: cover;">
    <div class="">
        <div class="" style="color:white;float: left;width: 42%;margin:2%;padding: 5%;height:520px">
            <h1 style="font-size: 38px" class="heading">Make your marketing so useful people would pay you for it</h1>
            <p>Instead of using technology to automate processes, think about using technology to enhance human
                interaction</p>
        </div>
        <div class="" style="color:white;float: right;width: 42%;margin: 2%;padding: 5%;height:520px">
            <h1 style="font-size: 38px" class="heading">Make your marketing so useful people would pay you for it</h1>
            <p>Instead of using technology to automate processes, think about using technology to enhance human
                interaction</p>
        </div>
    </div>
</div>